.visao-geral-card {
    border: 1px solid #C6C6C6;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    border-radius: 10px;
    height: min-content;
}

.visao-geral-card  > div {
    display: flex;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    flex-direction: row;
    gap: 10px;
}

.visao-geral-card p {
    color: #8C61DC;
}

.visao-geral-card > div .title {
    font-size: 16px;
} 

.visao-geral-card > div .result {
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
}

.visao-geral-card .ball {
    display: flex;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    background-color: #E9E7F6;
}